---
- name: Add vmhgfs module (RHEL 6).
  ansible.builtin.template:
    src: vmhgfs.modules.j2
    dest: /etc/sysconfig/modules/vmhgfs.modules
    mode: '0755'
  when: ansible_distribution_major_version|int <= 6

- name: Install open-vm-tools.
  ansible.builtin.package:
    name: open-vm-tools
    state: present
  when: ansible_distribution_major_version|int >= 7

- name: vmware tools installation
  ansible.builtin.include_tasks: vmware-tools.yml
  when: ansible_distribution_major_version|int <= 6

- name: ensure network-scripts directory exists (RHEL 10 VMware compatibility)
  ansible.builtin.file:
    path: /etc/sysconfig/network-scripts
    state: directory
    mode: '0755'

- name: ensure cloud-init drop-in directory exists for VMware tweaks
  ansible.builtin.file:
    path: /etc/cloud/cloud.cfg.d
    state: directory
    mode: '0755'

- name: disable clout-init network configuration
  ansible.builtin.copy:
    content: |
      #cloud-config
      network: {config: disabled}
    dest: /etc/cloud/cloud.cfg.d/99-disable-cloudinit-net.cfg
    mode: '0644'

- name: Disable cloud-init VMware customization (use native GOSC)
  ansible.builtin.copy:
    content: |
      disable_vmware_customization: true
    dest: /etc/cloud/cloud.cfg.d/10-disable-vmware-customization.cfg
    mode: '0644'
