bootcmd:
 - cloud-init-per once "/usr/bin/date > /root/cloud_init_debug_from_bootcmd.txt"
 - cloud-init-per once "the_root_vgname='{{ ansible_lvm.lvs[the_root_lvname].vg | default('vg00') }}'"
 - cloud-init-per once "the_root_lvname='{{ the_root_lvname | default('root') }}'"
 - cloud-init-per once "the_root_pvname=$(vgdisplay -v $the_root_vgname 2> /dev/null | awk '/PV Name/ {print $3}')"
 - cloud-init-per once "the_root_pv_partnum=$(echo $the_root_pvname | grep -o '[0-9]$')"
 - cloud-init-per once "the_root_pv_device=$(echo $the_root_pvname | grep -o '.*[^0-9]')"
 - cloud-init-per once "/usr/bin/growpart $the_root_pv_device $the_root_pv_partnum"
 - cloud-init-per once "/usr/sbin/pvresize $the_root_pvname"
 - cloud-init-per once "/usr/sbin/lvextend /dev/mapper/$the_root_vgname-$the_root_lvname $the_root_pvname"
 - cloud-init-per once "/usr/sbin/xfs_growfs /dev/mapper/$the_root_vgname-$the_root_lvname"